.popup__span {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Inter',Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 16px;
}