@import url(./__group/about__group.css);
@import url(./__avatar/about__avatar.css);
@import url(./__text/about__text.css);
@import url(./__title/about__title.css);
@import url(./__subtitle/about__subtitle.css);
@import url(./__img/about__img.css);


.about {
    max-width: 1440px;
    margin: 0 auto;
    background: white;
    min-height: 624px;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .about {
        margin-top: 40px;
        min-height: 354px;
    }

}