@import url(./__text/news__text.css);
@import url(./__cards/news__cards.css);
@import url(./__card/news__card.css);
@import url(./__head/news__head.css);
@import url(./__img/news__img.css);
@import url(./__login/news__login.css);
@import url(./__del/news__del.css);
@import url(./__main/news__main.css);
@import url(./__date/news__date.css);
@import url(./__title/news__title.css);
@import url(./__subtitle/news__subtitle.css);
@import url(./__source/news__source.css);
@import url(./__tag/news__tag.css);


.news {
    max-width: 1440px;
    flex-direction: column;
    background-color: #f5f6f7;
    margin: 0 auto;
}