.header__about {
    width: 43%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .header__about {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 680px) {
    .header__about {
        width: 90%;
margin-left: 19px;
    }


}