.news__source {
    font-family: 'Roboto Slab',Arial,Helvetica,sans-serif;
font-style: normal;
font-weight: bold;
font-size: 1vw;
    line-height: 1.2vw;
letter-spacing: 0.4px;
text-transform: uppercase;
color: #B6BCBF;
position: absolute;
    bottom: 0;
    text-decoration: none;
}


@media screen and (max-width: 768px) {
    .news__source {
        font-size: 16px;
    line-height: 20px;
    }

}