.popup__menu-item {
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}

.popup__menu-item:first-child {
    margin: 0 0 30px;
}