.popup__menu-button {
    width: 288px;
    height: 56px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background-color: transparent;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 100px;
}