.news__add {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 8px;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-image: url(../../../images/add-uncolor.svg);
    background-position: center;
    cursor: pointer;
    outline: none;
}

.news__add:hover{
    background-image: url(../../../images/add_hover.svg);
  }

.news__add:focus{
    background-image: url(../../../images/add_color.svg);
  }

  @media screen and (max-width: 768px) {
    .news__add {
      top: 8px;
      right: 8px;
    }

  }