.news__click-add {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 8px;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-image: url(../../../images/add_color.svg);
    background-position: center;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 768px) {
    .news__add {
      top: 8px;
      right: 8px;
    }

  }