.news__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
    margin-bottom: 6%;
    padding: 0 7%;
}

@media screen and (max-width: 768px) {
    .news__cards {
        grid-gap: 8px;
        padding: 0 5%;
        margin-bottom: 5%;
    }

}

@media screen and (max-width: 700px) {
.news__cards {
    grid-template-columns: repeat(2,1fr);
}

}

@media screen and (max-width: 464px) {
    .news__cards {
        grid-template-columns: repeat(1,1fr);
    }
    
    }