.header__menu-button {
    border-style: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}


@media (min-width: 680px)  {
    
    .header__menu-button {
        display: none;
    }
}