.news__more-articles {
        justify-content: center;
        align-items: center;
        padding: 8px;
        font-family: 'Roboto',Arial,Helvetica,sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: 100px;
        background: white;
        color: #000000;
        cursor: pointer;
        outline: none;
        margin: 0 auto;
        display: none;
        min-width: 280px;
        min-height: 64px;
}

@media screen and (max-width: 768px) {
        .news__more {
font-size: 18px;
line-height: 24px;
min-width: 240px;
        min-height: 56px;
        }
}

.news__more-articles:hover {
        background: #E8E8E9;
}