@import url(./__img/not-found__img.css);
@import url(./__text/not-found__text.css);
@import url(./__subtext/not-found__subtext.css);



.not-found {
	display: none;
	background-color: #F5F6F7;
	max-width: 1440px;
	margin: auto;
    padding-top: 80px;
}