.header__button {
    margin-left: 34px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 768px) {
    .header__button {
        margin-left: 28px;
        font-size: 16px;
    }
}